[2019-05-09 13:30] git-hulk opened #3 "Question about redis cluster proxy roadmap"
hey, @artix75

Would you mind publishing the roadmap of this project? And whether feature or bug fix PR is welcome now? I would be happy to accomplish some todo features if it's ok to issue the PR, like the query redirection.

Thanks~

[2019-05-09 16:01] artix75 commented on #3
Hello @git-hulk, the project is still on its very early development stages. I've planned to give more info about it in the next weeks (as you can see, I still have to write a basic README :) ).
At the moment I'm concentrating all my efforts on strengthening the proxy's core functionalities (such as basic request routing, multiplexing handling, and so on).

So I don't known if I have much time for

[2019-05-10 01:51] git-hulk commented on #3
hi @artix75, Got it and thanks for your reply and great work, I would continue to follow the updates.

[2019-05-10 01:51] #3 closed

[2019-08-09 08:44] patpatbear opened #5 "comparision with envoy"
envoy also supports redis cluster proxy (currently experimental), which IMHO might be an more elegant solution because of shorter latency, simpler server deployment,  supports non-smart client(such as hiredis), more observability.

so I'm wondering whether we should switch to envoy, or use non-offical client like [hiredis-vip](https://github.com/vipshop/hiredis-vip) .

[2019-09-11 13:01] shenlongxing opened #6 "Question about idempotent"
I have read the source code of redis cluster proxy. And as far as I am concerned, there may be situations that idempotent is not guaranted.
The proxy uses threads pool (default 8) to receive and dispatch commands and since thread is chosen by round robin, the commands may not be executed in the exactly same order as the client sent due to threads connection error or something alike.

[2019-09-27 21:36] artix75 commented on #6
Every client is assigned to a single thread, so every command from a specific client is always dispatched to the cluster by the same thread, and since the connection to a single node of the cluster is thread-specific there should be no issues.
Furthermore, since by default every thread dispatches its queries in a multiplexed context (they come from different clients), the order of the replies is g

[2019-10-12 07:47] s-aravind-flipkart opened #7 "Question : Supporting multiple redis clusters backends"
It would be nice if there is a federated client feature from proxy to shard across multiple Redis clusters.

[2019-10-24 09:37] antirez commented on #6
@shenlongxing I wonder if Fabio's reply is satisfying for you, the fact that the thread is sticky from the POV of the client, and the ID system in the radix tree that orders everything. If it's ok we can close this one.

[2019-10-25 06:38] shenlongxing commented on #6
@artix75 @antirez Thanks for the reply, it is ok to me.

[2019-10-25 06:38] #6 closed

[2019-12-19 12:22] JanBerktold opened #8 "Ability to specify several entrypoints to the cluster"
Hi there, @artix75!

First of all, this project looks like it could eliminate many pain points with using a Redis cluster for us, super exciting! Thanks a lot for working on this.

I've taken it for a test drive with our Redis cluster deployment and noticed a few things that would make it easier to use. For context, we run our Redis clusters in a container scheduler (think Kubernetes, Hashicorp No

[2019-12-19 12:57] toredash commented on #8
Wanted to chime in on this as we are looking on using redis-cluster-proxy in the future ourselves.

I've modified a Lua client to support a dynamic list of redis servers. When the client is starting, it needs to reach at least one healthy redis node. Once a connection is established, the clients creates an internal list of servers listed in `cluster slots`. If the client for any reason is unable t

[2019-12-19 13:19] JanBerktold commented on #8
Using DNS is an interesting idea and it would for sure solve the "please give me any node which is living right now" and as such would be a step up/allow us to run a two-tiered deployment.

However, it does a lack of the flexibility that specifically listing all/a subset of IPs would provide, e.g.
- Unless the proxy continuously re-evaluates the DNS name, this would not allow us to pick up new nod

[2019-12-19 17:38] artix75 commented on #8
@JanBerktold Hi, thank you for your reports and suggestions.

As for the multiple entrypoints, it's a cool feature that it's worth to implement in the next future IMHO.
I'll try to answer to the other  suggestions:

You can already specify the endpoint in the config file. Just launch the proxy specifying the config file:

`./redis-cluster-proxy -c /path/to/proxy.conf`

Inside the config file, you

[2019-12-27 03:29] bxeldor opened #11 "proxy.h:79:5: err：unknow type ‘_Atomic’"
GCC version is  6.1.0, on unstable branch.
Running a make, Error occurred:

In file included from cluster.c:31:0:
proxy.h:79:5: err：unknow type ‘_Atomic’
     _Atomic uint64_t numclients;
     ^
proxy.h:79:22: err：expected ‘:’, ‘,’, ‘;’, ‘}’ or ‘__attribute__’ before ‘numclients’
     _Atomic uint64_t numclients;
                      ^

[2019-12-27 16:57] artix75 commented on #11
Could you give me more details about the environment?

[2020-01-02 14:14] whoiswes commented on #11
I can replicate this in RHEL7 with GCC 4.8.5 (which supposedly includes Atomic support backported by RedHat).

[code]

Let me know if I can provide any other details.

[2020-01-02 18:28] artix75 commented on #11
@bxeldor @whoiswes Are you trying to build it onto ARM architecture?

[2020-01-02 18:32] whoiswes commented on #11
@artix75 - sorry, should have included that.  Building on x86_64.

uname
[code]

gcc -v
[code]

[2020-01-02 20:38] whoiswes commented on #11
FYI, I am dumb and was able to get this to compile by adding GCC 4.9 via the RedHat SCL:

[code]

Sorry for the noise.

[2020-01-03 16:35] artix75 commented on #11
@whoiswes Yes, C11 atomics are supported by GCC 4.9 or later. Thank you for the info.
Anyway, I still do not understand why @bxeldor is getting the same problem with GCC 6.1.

If anyone is still getting this error with GCC versions greater than 4.9, please try to add `-latomic` to  `FINAL_LIBS` in `src/Makefile`. Thank you.

[2020-01-16 02:28] bsergean opened #16 "Ability to bind to 0.0.0.0 instead of localhost"
So I'm trying to setup redis-cluster-proxy in openshift, but to have the server reachable from a different machine I had to use 0.0.0.0 in anetTcp6Server and anetTcp4Server.

[code]

Shouldn't this be a config option ? I didn't see this in regular redis so now I'm all confused. All the server I ran on a different box usually have the option to bind on a different address (usually 0.0.0.0).

[2020-01-16 02:35] bsergean opened #17 "Running multiple instances of the proxy (question)"
My thinking is that if one proxy dies, we want redis-client to be able to talk to another instance, and so have multiple one running at the same time (trying to have 4 now).

Is it possible to do load balancing and have multiple redis-proxy running, or is it problematic (I hope it's not !) ?

[2020-01-16 03:07] bsergean opened #18 "(title changed) Problems with multiplexing and XREAD/XADD commands from 2 different connections"
Hi there,

I'm trying to debug a problem where things work on my mac, but not on Linux/Openshift on the 'real' thing. I have tried to set the log level to debug but I don't see received commands being printed on the console. It looks like this would help quite a bit in troubleshooting.

Thanks !

[2020-01-16 03:08] bsergean commented on #18
ps: for info, I have a python service which uses 'manual' sharding, and I'm trying to simplify it by using redis-cluster. But the library I'm using now is aioredis, and it does not support redis-cluster.

https://github.com/machinezone/cobra

[2020-01-16 03:12] bsergean commented on #18
(FYI here are all the commands sent, when things work, on my mac). I'm going to try to simplify and write a repro.

[code]

[2020-01-16 03:14] bsergean commented on #18
cluster status, if that helps

[code]

[2020-01-16 10:43] artix75 commented on #18
If you want to log received queries you can use the `--dump-queries` options (**note**: it still needs `--log-level debug` in order to work).
This option will print the received query in the proxy's log, ie:

`> set mykey 10`

The proxy will print something like this in its log:

[code]

[2020-01-16 10:45] artix75 commented on #16
The `--bind` option will be implemented soon, maybe today or in the next days.

[2020-01-16 15:40] bsergean commented on #18
Ah awesome let me try that.

Developers never read the doc, I wrote some doc and was complaining yesterday to a user who asking a question and didn't read it :)

[2020-01-16 15:43] bsergean commented on #16
Ah great. No rush I found my way around it. If I can find the time I would love to make a PR but don't trust me.

As a side note I was curious about the PING command, and whether it could 'ping the cluster, or get the status of the cluster to compute the answer (extract the part that give the status of the cluster in the CLUSTER INFO response)

[2020-01-16 16:59] artix75 commented on #16
@bsergean The PING command actually pings the proxy, not the cluster. Pinging the cluster would result in a multiple replies, and this would break the original Redis design of the command.
Probably I'll add something like PROXY CLUSTER CALL <command>, that would return an array such as: [node1, reply1, node2, reply2] and so on.

[2020-01-16 17:08] artix75 commented on #16
@bsergean I added support for the `--bind` option. See commit 53bdfd29578adfa3b015975b3b90aac130de4e30.

[2020-01-16 17:15] bsergean commented on #16
Awesome let me try it out.

For the ping thing, maybe ping could be ran on all the masters of the cluster, and if all the master reply with PONG we're good and the proxy reply PONG. That could be added on top of your PROXY CLUSTER CALL idea.

[2020-01-16 18:07] bsergean commented on #18
Here's more debugging output. First I 'subscribe to stream' with XREAD BLOCK, and then I write to the stream with XADD. I'm expecting something to come out, but nothing comes. Maybe it's a timing issue. I'll try to add more debugging (logging buffers ?).

[code]

[2020-01-16 18:16] artix75 commented on #18
@bsergean  You should receive the reply. I'll take a look at it, it's probably a bug. I'll take a look at it, could you send me the complete log?

[2020-01-16 18:35] bsergean commented on #18
If I restart the redis-proxy before I do my run, I actually have another behavior (which might be easier to diagnose).

* first connection do the XREAD BLOCK
* but the second connection does not seem to be able to connect ; it materialize into an error in the python client (log below)

I swear I've seen that on my mac before. I'll try to see if I can reproduce it and send you steps if possible.

#

[2020-01-16 18:43] artix75 commented on #18
@bsergean Ok, I've found the issue. Since XREAD is a used in the blocking way, the client that sends the query is removed from the multiplexing context (shared connection) and it privately connects to the cluster.
So, it actually reconnects to the cluster. The other client sends the XADD query before the first client has connected and completely written the XREAD query, and since the first client

[2020-01-16 18:47] bsergean commented on #18
I'm trying to run with only one thread to see if it makes a difference.

Now the second client can connect, and we're back to the previous behavior, where the XADD makes it through, but the XREAD does not pick it up.

[code]

[2020-01-16 18:54] bsergean commented on #18
Cool just read your previous answer. You're right that even in a non proxy way it's possible to run into this problem, but practically I haven't yet.

I'll see what I can do to make the XREAD connection wait a bit ; or change the ordering so that the message is published/xadd'ed first, and then we xread it. That order should work fine as we get an answer from xadd when it has completed.

[2020-01-16 19:44] artix75 commented on #18
@bsergean Yeah, the reason why it practically never happens when you're not using the proxy is that Redis Cluster Proxy actually reconnects the clients that call the blocking XREAD.

So this is what is happening:

1. Client A is connected to the shared (multiplex) connection and sends a blocking XREAD.
2. The proxy removes Client A from the shared connection since it's requiring a blocking command

[2020-01-16 22:49] bsergean opened #19 "(minor / aesthetic) inline help does display big text for --port and --bind options"
[code]

There's a bunch of space for the --bind and --port options. If we compare it to --log-level and --enable-cross-slot options which are tidier / more compact. This has to be a simple extra 'space' formatting thing.

[2020-01-17 00:24] bsergean opened #21 "Error processing commands streams using pipelines -> triggering error: Failed to parse multibulk query: '$' not found!"
I have a command that write (indirectly) into redis and trigger this error, which trigger a hang. When running against 'stock redis' I don't experience the hang.

I will try to enable debug logs and capture those logs.

[2020-01-17 00:28] bsergean commented on #18
Adding PROXY MULTIPLEXING OFF is slightly involved, so I tried to use the --disable-multiplexing always option. It 'almost' make it works :)

The first request still yield a weird disconnection, but then the subsequent request work as expected, which is great. This allowed me to move on to other kind of testing ...

Given that this option can trigger behavior changes, I wonder if it should be opt-

[2020-01-17 01:12] bsergean commented on #21
Here's a log that contain the error:

[code]

Log

[code]

[2020-01-17 16:31] artix75 commented on #18
@bsergean The `--disable-multiplexing always` is only for debugging purposes. If multiplexing is always disabled, every client will get its own private connections that could result in a huge amount of open sockets (number of nodes * number of clients).
The best way to handle issues like the one you described is the "connection pool" I was talking about in the previous comment. It will be probably

[2020-01-17 16:33] artix75 commented on #21
@bsergean Could you send me the query you're writing to the proxy?

[2020-01-17 16:35] #19 closed, assigned to nobody

[2020-01-17 19:18] bsergean commented on #18
Ok get it. Thanks for the explanation.

[2020-01-17 19:20] bsergean commented on #21
It's a python script which is running the 'queries', using many different connections. I could try to run this against a single instance and capture all the queries using redis-cli MONITOR maybe.

I'll try to find a way. Maybe I'll start with writing up steps using the python thing (cobra).

(python) Server talks to redis
(python) Client talks to the python server.

[2020-01-18 10:15] artix75 commented on #21
@bsergean On the proxy, you can use the `--dump-buffer` options to log the raw query string in the proxy's log.

[2020-01-20 06:44] tankII opened #22 "Have any plan proivde dashboard UI ? just like codis dashboard"

[2020-01-20 06:49] tankII commented on #22
Dashboard is quiet useful，have any idea ？

[2020-01-21 12:37] artix75 commented on #22
@tankII There's no plan for a dashboard at the moment.

[2020-01-21 12:38] artix75 commented on #17
There's no plan for a load balancer at the moment. Of course, you're free to run as many instances of the proxy as you want, by starting them on different hosts or ports.

[2020-01-21 12:55] artix75 commented on #18
@bsergean  I'm implementing the connections pool feature in the [connections_pool branch](https://github.com/artix75/redis-cluster-proxy/tree/connections_pool).
You can give it a try if you want.

[2020-01-21 14:56] bsergean commented on #17
Got it, thanks. kubernete and friends make it very easy to load many instances so that's probably what I should do.

[2020-01-21 14:56] #17 closed, assigned to nobody

[2020-01-21 15:01] bsergean commented on #18
Great I'll give it a try. (found a typo in a header file btw: clients with priovate connections).

The program that was triggering the problem was an internal healthcheck, and I have changed based on your feedback to do the XADD first, and then the XREAD, so maybe regardless of the connection pool the bug could have disappeared. I have a branch with the old behavior and I'll see if this helps.

[2020-01-22 06:57] bsergean commented on #18
Unfortunately I'm still getting the 'hang'... I removed the --disable-multiplexing option ; the connection pool is on by default right ?

[code]

Full log

[code]

[2020-01-22 08:48] artix75 commented on #18
@bsergean Yes, the connections pool is enabled by default, but it doesn't seem to be active from what I read in your log.

Please ensure that:
- You're using the `connections_pool` branch
- You've made a complete rebuild with `make clean` and then `make`

If connections pool is active,  you should read its size with `proxy config get connections-pool-size`

[2020-01-22 17:00] bsergean commented on #18
Ok I double checked I'm on the right branch, and since I'm using docker I'm pretty sure my build instructions do a clean build.

Now I see this message:

[code]

In the 'incipit'.

[code]

Similar to when I was using the debugging disable multi-plexing option: it looks like

1. Very first time I get a hang
2. But I cancel and retry, then 'things works. As if the cache is 'ready'/'warm'. The pool i

[2020-01-22 17:04] bsergean opened #23 "Add dockerfiles ?"
Here's a dockerfile to build this project. I don't know if you'd be interested in using it, or if you're familiar with those things. I find docker very convenient.

I noticed that redis source code doesn't have one, so if you want to stick to redis practices it probably make sense, just sharing those bits in case it's helpful. Those blips could go in a 'contrib' folder too, or go nowhere and stay

[2020-01-22 20:01] bsergean commented on #21
Trying to capture the buffer now with --dump-buffer. The log file is very large and it's quite slow ... I gave up as it looks like it's not terminating, and re-ran without logging to see if it would terminate, but it doesn't.

As a note redis pipelines are used.

This is what strace thinks the proxy is doing. The client still try to publish things and does not terminate.

[code]

[2020-01-23 15:15] artix75 commented on #21
@bsergean There's was a bug in the query parser, it has been fixed in commit 8a9ed40. Try to update the branch and let me know if the problem persists.

[2020-01-23 15:16] artix75 commented on #23
@bsergean It could be useful, thanks. Maybe I'll add a Dockerfile to utils directory in the future.

[2020-01-23 15:16] #22 closed, assigned to nobody

[2020-01-23 15:21] artix75 commented on #18
@bsergean I need to understand the 'first ever case' scenario and what really happens under the hood. Could you attach a complete log?

Since the buffer output is not needed for this kind of issue and logs with `--dump-buffer` are usually very big, you can omit `--dump-buffer` to have a lighter log, ie.

`redis-cluster-proxy --log-level debug --dump-queries --dump-queues`

[2020-01-23 15:33] bsergean commented on #21
Awesome, I'll give it a try today.

[2020-01-23 23:02] bsergean commented on #21
So it worked 'the first time' / then I re-ran the python script, cancelled it, and now it hangs again ... will test more, but there might be a bug left.

BTW something unreleated, is it normal that PROXY INFO reads broken when I type it in a redis-cli interpreter ?

[code]

[2020-01-24 07:37] artix75 commented on #21
So you had again the 'Failed to parse multibulk query: '$' not found'?
How do I replicate this bug?

[2020-01-24 13:31] bsergean commented on #18
I'm trying to get you repro steps using cobra, the python server/client I'm working on.

In tha process I was starting/shutting down my redis cluster, while the proxy is still running, and noticed that redis-cli hangs when that happens. (I'm using the connection pool branch)

$ redis-cli -p 7777
127.0.0.1:7777> set foo bra
OK
127.0.0.1:7777>
127.0.0.1:7777>
127.0.0.1:7777> set foo bra
(error) ERR

[2020-01-24 13:52] bsergean commented on #21
Hi artix75 / thanks for keeping on trying ... here are steps to setup the server/client I'm using. It won't necessarily repro the bugs, but it's a start. Some of the problems I see are when I run this code in our openshift/kubernet server, where there is more latency than when I run on localhost. I also try to run those in docker-compose.

# Setup / I'm on a mac but this should work on Linux too (

[2020-01-24 18:45] artix75 commented on #21
@bsergean Ok, thank you, but let me understand: are you getting the "hang" because of the `Failed to parse multibulk query: '$' not found` error you had before updating the branch, or because of the blocking `XREAD` before `XADD`?

Because in the first case it's about the parsing bug that should have been fixed by the commit  8a9ed40.
Otherwise, in the second case, we're talking about another kind

[2020-01-24 19:14] bsergean commented on #21
I couldn't see the multi bulk query error again, so maybe it's another problem, and the parsing is all good now.

The thing that I was reproducible ONLY with redis-cli, recently, was:

1. start a cluster
2. start a proxy
3. start redis-cli against the proxy
4. kill the cluster, let the proxy running
5. in the redis-cli editor, try to do a set foo bar / that was hanging for me, while I would have e

[2020-01-24 19:18] bsergean commented on #21
I was trying to sent you a 'here is all the thing I've been testing' kind of page, that was confusing.

In my use case:

cobra health -> would trigger the XREAD / XADD thing
cobra publish --batch -> would trigger the multibulk query pb.

FYI below here is an example config file which configure one app / appkey to use batching, which will translate into having the server use redis pipelines.

batch

[2020-01-25 00:28] artix75 commented on #21
@bsergean Does cobra use pubsub? It's not supported by the proxy.

[2020-01-25 00:47] bsergean commented on #21
No it's using redis streams now. It used to use PubSub but not anymore.

[2020-01-26 11:44] artix75 commented on #21
@bsergean Ok, since the issue is no more related to the parsing bug (`Failed to parse multibulk query: '$' not found`), I'm closing this issue.
Since it seems that the new issue you're talking about could be related to the XREAD/XADD sequence, please let's keep talking about it in issue #18.

[2020-01-26 11:44] #21 closed, assigned to nobody

[2020-01-26 18:02] bsergean commented on #21
Sure sounds good.

[2020-01-27 15:02] artix75 commented on #18
@bsergean I made some tests executing the XREAD(blocking)/XADD sequence from different clients.
Using the `unstable` branch it often hangs during the blocking XREAD command, since the client calling XREAD actually reconnects with a private connection and the blocking XREAD is often executed after the XADD command.

Using the  [connections_pool](https://github.com/artix75/redis-cluster-proxy/tree/c

[2020-01-27 19:26] #16 closed, assigned to nobody

[2020-01-27 19:35] bsergean commented on #18
Thanks a lot for the very detailed explanation. The connection pool work highly mitigates this problem which I hope will help adoption.

Based on your input I have changed my scripts to XADD first and then XREAD, which sound way more reliable.

[2020-01-27 19:35] #18 closed, assigned to nobody

[2020-01-27 22:24] bsergean opened #24 "Getting error 'Could not create read handler: No such file or directory'"
I am trying to put the proxy in front of a bunch of traffic and I'm getting those errors:

[code]

I am using the connection_pool branch, and I have merged all commits from the unstable branch as of `Mon Jan 27 14:24:09 PST 2020`. I use the default config, no special args.

[2020-01-28 00:06] bsergean commented on #24
If almost feel as if the unix socket code path was used for some reason (which would explain the No such file or directory ... with a tcp socket I don't expect that kind of error to pop up right ?).

[2020-01-28 04:13] bsergean commented on #24
I have bumped the number of replicas, and now things to be stable. I'm finally using the proxy and redis cluster now !!! I'm very happy :)

I have 6 replicas now, and the second one crashed and restarted 4 times.

[code]

<img width="875" alt="Screen Shot 2020-01-27 at 8 10 57 PM" src="https://user-images.githubusercontent.com/11857745/73235016-73d15600-4141-11ea-85a4-366f5fb0382c.png">

Here's th

[2020-01-28 05:14] bsergean opened #25 "Install a crash handler (SEGFAULT)"
I'm getting a couple of restarts, and they don't seem to be related to high memory usage. Having a crash handler that display something on the console if a crash happen could help. I believe that redis has that.

[code]
[code]

[2020-01-28 18:59] artix75 commented on #25
@bsergean Yeah, I'll add a crash handler in the next days

[2020-01-28 19:08] bsergean commented on #25
Great. I think it will help with diagnosing weird production bugs.

[2020-01-28 19:54] artix75 commented on #25
@bsergean Done, crash handler implemented in the latest commit 😄

[2020-01-28 19:56] bsergean commented on #25
Very cool. Let me try to use that !

I'm still using the connection_pool branch rebased from unstable (no conflicts found).

[2020-01-28 20:16] bsergean commented on #25
Argh I couldn't merge that change in the connection_pool branch ... I'm getting conflicts ...

[2020-01-28 21:51] artix75 commented on #25
@bsergean Yep, delete your local branch and fetch it again from scratch.

[2020-01-28 22:00] bsergean commented on #25
Thanks that worked ; I started over and re-ran git rebase unstable in the connection_pool branch. I just deployed a new container which has the crash handler.

[2020-02-03 07:41] aleshkin opened #26 "Crash 12 threads with 9 masters and 9 replicas"
=== PROXY BUG REPORT START: Cut & paste starting from here ===
[2020-02-03 08:37:36.040] Redis Cluster Prxoy 999.999.999 crashed by signal: 11
[2020-02-03 08:37:36.040] Crashed running the instruction at: 0x55ad33061676
[2020-02-03 08:37:36.040] Accessing address: 0x7fee8f2115f0
[2020-02-03 08:37:36.040] Handling crash on thread: 2

------ STACK TRACE ------
EIP:
/usr/local/bin/redis-cluster-proxy

[2020-02-03 14:58] artix75 commented on #26
Hello @aleshkin, thank you for the report. Could you provide further details about the context of the bug? (ie. git branch,  what where you doing, etc.)

[2020-02-03 16:27] #25 closed, assigned to nobody

[2020-02-03 19:30] bsergean commented on #24
Sounds like this got fixed by 0ef1e43c9294655ba30a6a625091d44f7d1781f6

[2020-02-03 19:30] #24 closed, assigned to nobody

[2020-02-06 08:05] HuangZhenLiang opened #27 "Question about product version released date of redis cluster proxy"
Is there a deadline that there will be a stable version of proxy for product environment to be released?
Thank you!

[2020-02-07 15:39] #26 closed, assigned to nobody

[2020-02-07 15:44] artix75 commented on #26
@aleshkin Fixed in commit  d44e24f

[2020-02-07 15:49] artix75 commented on #27
It should by next summer.

[2020-02-07 15:49] #27 closed, assigned to nobody

[2020-02-10 03:47] HuangZhenLiang commented on #27
You mean summer of 2020, right?

[2020-02-13 17:34] whoiswes opened #28 "Cluster auth fails via config file, works fine on CLI"
Disclaimer - I might be missing something obvious so apologies in advance if I am.

I am experiencing authentication errors when specifying a node password in a configuration file as opposed to the same password being passed on the cli.

Code for redis-cluster-proxy was compiled this morning (Feb 13) off of unstable.  All tests passed.

Working params via shell
[code]

Failure via config file
[cod

[2020-02-13 17:38] whoiswes commented on #28
I just attempted a clean recompile (just because) and noticed this warning - possibly related?

[code]

[2020-02-13 20:30] artix75 commented on #28
@whoiswes Thank you, I'll check it soon.

[2020-02-14 07:26] artix75 commented on #28
@whoiswes Fixed in beac2a4

[2020-02-14 07:26] #28 closed, assigned to nobody

[2020-02-14 14:02] whoiswes commented on #28
@artix75 - confirmed that this fixed my issue.  Appreciate the quick response!

[2020-02-18 12:06] kornrunner opened #30 "Option to select read preference?"
It would be great if we could select read preference, for example:

- read only from replicas
- read from replicas, but fallback to master if not found (lag mitigation?)
- read only from master (current default?)

Or something similar?
Thanks!

[2020-02-19 12:17] JanBerktold opened #31 "Proxy returns MOVED responses"
I have noticed that the proxy appears to return MOVED responses, therefore not hiding slot movements properly. Looking at the code, this appears to be confined to transactions currently (https://github.com/artix75/redis-cluster-proxy/blob/unstable/src/proxy.c#L4225) but I may be missing other parts of it.

In our case, this lead to our 'smart' client switching to cluster  mode and trying to bypass

[2020-02-19 12:30] JanBerktold opened #32 "Proxy does not detect failover if old master dies quickly"
I managed to get the proxy to fail consistently with this repro case:

- Send a `CLUSTER FAILOVER` command to a slave
- Kill the old master that we fell away from after a successful failover
- Proxy will continue to hammer the address of the old master because it did not get a MOVED response (which would cause a reconfiguration). This state goes on forever.

I haven't tested the "master fails w/o

[2020-02-19 15:50] artix75 commented on #30
It could be a feature for future releases.

[2020-02-19 15:57] artix75 commented on #31
The proxy should handle MOVED replies if the client is **not** under a transaction.
So this is the behavior:
- If a MOVED reply is detected and the client is not under MULTI transaction, the proxy enqueues the query and updates its internal map of the cluster.
- After it has completed the update of the cluster map, it routes the query again to the correct node, replying then to the client that sho

[2020-02-19 16:13] artix75 commented on #32
I will implement a "mandatory" reconfiguration after N failed reconnections.

[2020-02-19 16:28] JanBerktold commented on #31
So I just reproduced the C# StackExchange.Redis client acting up and trying to switch into cluster mode after reading the MOVED error inside of the transaction. For starters, what do you think about changing that specific error message?

I'm not fully convinced, that that's the original error that I saw though - Going to be digging deeper for a 2nd repro case there.

[2020-02-19 17:35] artix75 commented on #31
@JanBerktold Were you under a MULTI transaction?

[2020-02-19 18:07] JanBerktold commented on #31
@artix75 Yes!

[2020-02-19 18:10] JanBerktold opened #33 "PROXY commands are not recognized"
`> echo "PROXY SHUTDOWN" | nc 10.126.3.84 26288
-ERR Unsupported subcommand 'SHUTDOWN' for command PROXY`

`> echo "PROXY CLUSTER UPDATE" | nc 10.126.3.84 26288
-ERR Unsupported subcommand 'CLUSTER' for command PROXY`

`> echo "PROXY CLUSTER INFO" | nc 10.126.3.84 26288
-ERR Unsupported subcommand 'CLUSTER' for command PROXY`

The one that I found which works:
[code]

The README describes a family

[2020-02-19 18:46] artix75 commented on #33
@JanBerktold Which version/branch? It seems to be a very old version, please use an updated version from **unstable** branch or the beta release for 1.0

[2020-02-19 18:55] JanBerktold commented on #33
@artix75 This is a build which should be using the 08dba3c commit which looks pretty recent. What makes you think that it's older?

[2020-02-19 19:02] artix75 commented on #33
@JanBerktold This: `proxy_version:0.0.1`

[2020-02-19 20:17] JanBerktold commented on #33
My apologies for this, I found a bug in my build workflow. It was indeed an old version.

[2020-02-19 20:17] #33 closed, assigned to nobody

[2020-02-21 23:38] JanBerktold opened #34 "Entry node is single point of failure"
When the Redis entrynode dies, the proxy will break when the next updateCluster invocation comes around because it can not talk to it's entry node anymore, causing `cluster->broken` to be set which just causes every new request to be replied to with an error. This disturbs consumer traffic when not actually needed - The cluster can still be fully healthy if the entry node happened to be a slave or

[2020-02-22 10:35] artix75 commented on #34
The best solution is that, after the first connection to the cluster, every node in the cluster should be considered an entry point, and in case of reconfiguration, all entry points should be tried until the first one succeeds.

Also, the ability to specify multiple entry points on launch could be an interesting feature, but, independently from that, every time that the whole cluster's configurati

[2020-02-26 01:42] t4410 opened #35 "[Fa"
sorry for miss operation.
Please delete this issue.

[2020-02-26 01:45] #35 closed, assigned to nobody

[2020-02-26 02:03] t4410 opened #36 "When startup and secondary nodes are down, proxy can not start"
When startup and secondary nodes are down(not first node), redis-cluster-proxy can not start.
Is there any way to start the proxy?

[code]

[code]

[2020-02-28 01:23] bsergean opened #37 "XADD/XREAD problem unstable branch versus 1.0 branch"
I have a test that fails in the current unstable branch. I XADD first, and the XREAD, but nothing comes in. This seem to work just fine in the 1.0 branch.

[2020-02-28 15:37] artix75 commented on #37
@bsergean The 1.0 branch (actually the current "beta") does not currently include the "connections pool" feature that helped you solve the problem with XADD/XREAD.
You can keep using the `connections_pool` branch for now.

The connections_pool features will be included in the next beta (beta2) of the 1.0 version.
I'm currently integrating those features in order to include them in the unstable bra

[2020-02-28 15:40] artix75 commented on #36
The Proxy currently requires that all nodes of the cluster must be up at startup when it fetches the cluster's internal map.
I'll probably change this in the next weeks.

[2020-02-28 23:46] bsergean commented on #37
Great thank you. Looking forward to testing it whenever it's ready.

[2020-02-28 23:46] #37 closed, assigned to nobody

[2020-02-28 23:47] bsergean commented on #37
(sorry I keep forgetting about this problem and the connection pool solving it)

[2020-03-04 23:23] bsergean commented on #37
I noticed that the unstable branch got the connection pool code, I've built that and it's running pretty well again now. It's only been running for 30m or so, but so far so good, while before it used to die much faster.

Thanks for all the hard work, connection pool seems to work very well !

[2020-03-05 12:54] artix75 commented on #37
Yes, it has been moved to unstable and it will be part of the beta2. There's also a new feature related to connection pool: every time a client with a private connection gets disconnected, its own connections are recycled are re-added to the thread's connection pool if needed (if the pool is not already full).

[2020-03-12 09:01] trueliu opened #44 "After an error, the next request cannot get the corresponding"
Could you tell me whether this situation is due to my wrong operation or bug？

![image](https://user-images.githubusercontent.com/30516616/76504593-fbb9b800-6482-11ea-9106-335fe8adfc20.png)

[2020-03-13 15:29] artix75 commented on #44
@trueliu Please, could you provide more details?
- The cluster seems to be password-protected. Is the proxy configured to authenticate on the cluster?
- Is the client using different credentials to authenticate to the proxy?
- What version of the proxy are you using? Beta1? Unstable?

[2020-03-13 16:47] artix75 commented on #34
@JanBerktold Try the latest unstable branch. Now it's possible to specify multiple entry points, as command-line arguments or inside the config file (in this case use the 'cluster' option or its alias 'entry-point' option).
Furthermore, after the proxy fetches the cluster nodes configuration, it will automatically use those nodes as entry-points for the future (ie. in case of update after an ASK|M

[2020-03-13 16:58] trueliu commented on #44
- Yes, the cluster uses a password. I started the proxy with "redis cluster proxy -c proxy. conf" and enabled the auth route selection.
- Client has no other authentication.
- Unstable.

[2020-03-13 17:17] artix75 commented on #44
@trueliu Ok, thank you! I will make some tests.

[2020-03-13 18:09] JanBerktold commented on #34
Thanks @artix75, this is a big! It does certainly improve the reliability by quite a bit based off my short testing session. I do however still notice one issue: The logic appears to be "find one redis node that I can open a socket to and then use that" which breaks when a Redis node is in a up-but-not-yet-ready-state, such as when it is replica still in the initial startup phase:

[code]

I'd sug

[2020-03-18 13:05] paapug opened #46 "make test exists with 0 even when test fail"
When testing `redis-cli` was not not present on the machine, the ruby script reported ` 21 exception(s) occurred`, however the `make test` still exited with code 0. That makes any CI\CD useless as there is no way to find out that something went wrong.

[2020-03-18 15:49] #46 closed, assigned to nobody

[2020-03-18 15:50] artix75 commented on #46
@MrPsycho5 Fixed in 6751bf5

[2020-03-24 05:29] bsergean opened #47 "Getting 'Could not create read handler' errors"
My cluster seems ok, no restarts of any nodes in the cluster. I have enabled the 'multiple-endpoint' features.

[code]

I am at this commit:

[code]

[2020-03-24 07:23] doyoubi opened #48 "Crash when using BLPOP and MGET"
### Version
unstable branch
commit 6751bf515fcef0a46c273f0199e49794592529ec

### Steps to Reproduce
[code]

### Crash Log:
[code]

[2020-03-25 14:00] bsergean commented on #47
My problem is that my cluster seems to be down, I have one node which is in fail state.

[code]

[2020-03-25 16:03] artix75 commented on #47
@bsergean Do you have the entire log?

[2020-03-25 16:04] artix75 commented on #48
@doyoubi Thank you, I will investigate on this.

[2020-03-25 16:07] bsergean commented on #47
Sorry this was a terrible and not very actionable bug report. I'm back in business now, and I've restarted the proxy ... so the log is gone. I think I could get to it but I'm not savy enough with openshift to know how to retrieve previous logs.

FYI I fixed the bad node by having other nodes forget it with

`redis-cli -c -h 172.24.244.119 CLUSTER FORGET b50e18d0b2ae6cd597d351f46734656e4533f22d`

[2020-03-25 16:09] bsergean commented on #47
The the cluster was unhealthy, the proxy would try to start and fail like that, this must be the normal behavior.

[code]

[2020-03-25 16:18] bsergean commented on #47
Something which might be interesting too is that I got a 'max clients errors' reached at some point. I'm not sure whether this is an application level bug (there has been a lot in the past), or if a leak can happen on the proxy too.

What do you think would be a good way to monitor this ? I know that the INFO command on the proxy does not work, so maybe I can count the network connections external

[2020-03-25 16:20] bsergean commented on #47
Here is the exact error that the application (python) received from talking to the proxy: 'ERR max number of clients reached' / I could be application level + redis-cluster down combination.

[2020-03-25 16:51] artix75 commented on #47
@bsergean I'm currently working on a new feature that lets the proxy start even if the cluster is down. In that case, the proxy would start and clients could connect to it, but they would receive a "CLUSTERDOWN The cluster is down" error.
The proxy periodically checks if the cluster goes up and then it would connect to it normally.

As for the `ERR max number of clients reached` error, it could be

[2020-03-25 16:57] bsergean commented on #47
Cool. The CLUSTERDOWN thing looks like a great feature.
I think the ulimit file descriptor limits are insanely high on those machines, so I believe it's coming the proxy or the cluster.

Also on a different note I hope that everything is fine for you in Italy. The whole world learn to leave from home, I'm watching exercise videos on youtube because I heat too much :)

[2020-03-26 17:12] artix75 commented on #48
@doyoubi I cannot reproduce the issue, I've tried your steps many times but always without problems.

[2020-03-27 05:58] doyoubi commented on #48
The OS is Mac OSX.
The backend Redis cluster is just a single node with all the slots:
[code]

The last MGET will block. Then press ctrl-c to trigger crash.

Does the traceback help?
[code]

[2020-03-27 12:10] artix75 commented on #48
@doyoubi Ok, I've been able to replicate it. Now I'm working to fix it. Thank you very much!

[2020-03-27 13:24] artix75 commented on #48
@doyoubi Fixed in 9a2383d

[2020-03-27 13:24] #48 closed, assigned to nobody

[2020-03-30 15:14] artix75 commented on #44
@trueliu Fixed in 22facfb. Thank you!

[2020-03-30 15:14] #44 closed, assigned to nobody

[2020-03-30 16:15] artix75 commented on #34
@JanBerktold Yeah, I'm working on this

[2020-04-02 08:05] huxiaozhe commented on #11
gcc -v
[code]
environment Centos7
[code]
I add `-latomic` to `FINAL_LIBS` on `Makefile` : `FINAL_LIBS=-lm -latomic`
err :
[code]

[2020-04-08 14:54] mgravell opened #49 "Proxy should not intercept commands during MULTI / EXEC"
Examples include `PING` and `PROXY *`:

expected (how redis-server behaves):

[code]

actual:

[code]

similarly, this seems wrong:

[code]

I would expect:

[code]

[2020-04-08 15:00] mgravell opened #50 "segfault if "PROXY MULTIPLEXING" is issued without final arg"
[code]

Boom!

=== PROXY BUG REPORT START: Cut & paste starting from here ===
[2020-04-08 15:56:51.866/0] === ASSERTION FAILED ===
[2020-04-08 15:56:51.866/0] ==> proxy.c:969 'p < end' is not true
[2020-04-08 15:56:51.867/0] (forcing SIGSEGV to print the bug report.)
[2020-04-08 15:56:51.869/0] Thread 1 terminated
[2020-04-08 15:56:51.869/0] Thread 2 terminated
[2020-04-08 15:56:51.870/0] Thread 3

[2020-04-08 15:46] artix75 commented on #50
Fixed in ac83840

[2020-04-08 17:28] mgravell opened #51 "Thoughts on a minimal "info" command"
Some clients use the `info` command for discovery purposes, looking for things like the redis server version (to select strategies such as `del` vs `unlink`, or other changes between versions).

What is the chance of a minimal `info [section]` command, even if it only had something like:

[code]

? this would allow such clients to continue to make those decisions appropriately based on the underly

[2020-04-08 21:07] artix75 commented on #51
I have always thought about a way to implement the `INFO` command. A reasonable way could be that since info such as Redis version usually is the same for all nodes of the cluster, taking the first one or the lesser one could be meaningful in some situations for clients requiring it.

But, in order to be more precise, the proxy should reply with info collected from all the nodes, organized in sect

[2020-04-08 21:10] artix75 commented on #49
Yeah, I was already working on this kind of problem. I hope to have a workaround in the next days.

[2020-04-10 10:56] JanBerktold opened #52 "Improper handling of ASK retries"
Currently MOVED and ASK retries are handled exactly the same, by attempting to update the hash slot map by fetching config from a node.  However as per the spec (https://redis.io/topics/cluster-spec#cluster-live-reconfiguration), this is only correct for a MOVED response whereas the ASK response should be followed up by redirecting the query to the address indicated in the response but not attempt

[2020-04-20 14:26] bsergean commented on #47
I got a similar error, but now I'm seeing a message about the connection pool as well. I can see it with a lot of different ip addresses.

[code]

I tried to look at one server and it had a lot of opened ports, and I don't know if that's the application level creating too many connections.

[code]

However the machine has a pretty high ulimit, but it's running in kubernete so this could be shared

[2020-04-20 14:32] bsergean commented on #47
The part that is interesting is that I got a degraded performance over the week-end, and it seems to have been linked to either a memory or a cpu limit being reached. The proxy runs on kubernete and there are resource limit. I might have done a resharding when this happened, and I'm gonna experiment with doing more of those to see if they could lead to leaks. Have you played with resharding while

[2020-04-20 14:39] bsergean commented on #47
The memory going from 5G to 15G all of a sudden is really super suspicious.

The blue line on the cpu graph represent an upper bound, after which the cpu usage is throttled by kubernete. Some [links](https://kubernetes.io/docs/concepts/configuration/manage-compute-resources-container/#meaning-of-cpu) here, I never tried too hard to understand the differences between requests and limit.

[2020-04-23 20:32] bsergean opened #54 "Thoughts on supporting MONITOR command"
That command is super useful as a low key way to figure out what's going on in redis. I wonder how hard it would be to support.

Maybe it could have parameter if we want to monitor a special node, but without params it would just list every commands received by the proxy. Not sure how to do that in scalable way, as synchronization will be certainly required.

[2020-04-24 06:01] huxiaozhe commented on #54
Because it is multi-threads,a connect will only belong to one thread.You cannot assign a link to a certain thread.

[2020-04-24 06:22] huxiaozhe opened #55 "Bug of the private cluster connection"
`connection-pool-size 1
port 8888`
When i don't use private connection

![image](https://user-images.githubusercontent.com/33032836/80181074-b9b19380-8636-11ea-8b9f-e4d6a1ef213a.png)

First is slave, second is Ordinary connection, third is private connect pool,last is local connect.

when i process
`127.0.0.1:8888> multi
OK
127.0.0.1:8888> set b 1
QUEUED
127.0.0.1:8888> exec
1 OK
`
client list
![i

[2020-04-27 06:40] doyoubi opened #56 "Crash in onClusterNodeDisconnection"
The version is the release `1.0-beta2`.

I will update once I find the way to reproduce it.
Hope the traceback can help.

Crash log:
[code]

[2020-05-01 15:58] naseemkullah opened #57 "Q: Works for sentinel?"
Hello,

Firstly, congrats on Redis 6 release👍

Today, my org is using Sentinel and was wondering if this proxy works for sentinel as well, or if there exists such a proxy?

Reason we use Sentinel is our use case is for HA/Failover only, no need for horizontal sharding at this time.

[2020-05-03 16:09] lakano commented on #23
@bsergean Thanks for sharing it !
I have a problem to use it, could you help me please?

[code]

[2020-05-03 16:45] bsergean commented on #23
Hey Guillaume, are you using the separate makefile ? I named it 'makefile.docker', and I invoke the command like this:

[code]

You need to git add the Dockerfile and the makefile.docker file first, otherwise there's a step in my makefile that git clean -dfx everything first.

[2020-05-03 16:51] bsergean commented on #23
Without my makefile thing, I can also invoke it like that -> `docker build -t redis-cluster-proxy:1.0-beta2 .`

[2020-05-03 16:52] bsergean commented on #23
[code]

[2020-05-03 16:53] bsergean commented on #23
Maybe I have changed the Dockerfile a bit since I posted here, here is the one I just used.

[code]

[2020-05-03 18:00] lakano commented on #23
Thanks @bsergean for your feedback !
I've never used makefile directly, is it not possible to build the image without the makefile ?

[2020-05-03 18:49] lakano opened #58 "Redis Module supported?"
Hello,
I love the idea of your proxy, thanks!
Is the Redis modules are supported ? (eg: RediSearch)

[2020-05-03 19:20] bsergean commented on #23
Yes it is. See my comment that mention using straight docker build -t ...

[2020-05-05 06:00] wangyi24420 commented on #36
the same issue occur when one of master node down,and redis cluster failover successful,but redis-clutser-proxy cannot startup.

[2020-05-06 11:17] ghost opened #59 "When will the GA version be released? What is your plan?"

[2020-05-07 02:20] smartwalle opened #60 "ERR unsupported command `subscribe`"
Reading messages... (press Ctrl-C to quit)
(error) ERR unsupported command `subscribe`

[2020-05-07 05:56] ShooterIT commented on #60
Hi @smartwalle There are supported commands https://github.com/RedisLabs/redis-cluster-proxy/blob/unstable/COMMANDS.md

[2020-05-07 06:05] ShooterIT commented on #57
I think it doesn't. It gets routing topology by sending `cluster nodes` command to redis enabled cluster mode.

[2020-05-07 06:47] toredash commented on #57
If that is your usecase, you do not need (or can for that matter) use Redis Cluster Proxy. Redis Cluster Proxy is intended to be used with Redis Cluster (AFAIK), not Redis.

[2020-05-07 07:33] smartwalle commented on #60
多谢，希望能够尽快支持 pub sub

[2020-05-07 15:54] naseemkullah commented on #57
Thanks for confirming.

It appears that a sentinel equivalent would be https://www.haproxy.com/blog/haproxy-advanced-redis-health-check/

[2020-05-07 15:54] #57 closed, assigned to nobody

[2020-05-08 03:32] huxiaozhe commented on #60
@smartwalle 你可以把里面的源码改了，让所有的 pub/sub 指令都指向第一个 master 节点。

[2020-05-08 12:18] ShooterIT commented on #58
The proxy distribute clients' requests to redis node by calculating the `slot` of `key` in the requests. But the position of `key` in a request is uncertain for different module commands, so it doesn't know how to distribute clients' module requests. What's more, the proxy couldn't check arguments of module commands.

One idea, we add some module command items in config file. For one module comman

[2020-05-09 01:59] ShooterIT commented on #60
Hi, guys, talking in english may be better. The owner of this project may solve your problems.

[2020-05-09 07:48] AllenDou commented on #36
[2020-05-09 15:46:02.566/M] Redis Cluster Proxy v999.999.999 (unstable)
[2020-05-09 15:46:02.566/M] Commit: (ac83840d/1)
[2020-05-09 15:46:02.566/M] Git Branch: unstable
[2020-05-09 15:46:02.566/M] PID: 18180
[2020-05-09 15:46:02.566/M] OS: Linux 4.16.3-301.fc28.x86_64 x86_64
[2020-05-09 15:46:02.566/M] Bits: 64
[2020-05-09 15:46:02.566/M] Log level: info
[2020-05-09 15:46:02.566/M] Connections po

[2020-05-09 07:49] #55 closed, assigned to nobody

[2020-05-12 08:22] amanullah92 commented on #32
Hi @artix75 - just wanted to ask when you plan to fix this?

[2020-05-12 10:27] matrix-t opened #61 "redis-cluster-proxy crashing"
The version is the release 1.0-beta2.
The crash happened when the master to which redis-cluster-proxy connected and used as primary got suddenly unavailable.

crash log:
2020-05-12T09:01:41.809020738Z stdout F === PROXY BUG REPORT START: Cut & paste starting from here ===
2020-05-12T09:01:41.809037669Z stdout F [2020-05-12 09:01:41.808/0] Redis Cluster Proxy 0.9.102 crashed by signal: 11
2020-05-1

[2020-05-12 12:26] HuangZhenLiang opened #62 "Potential memory and connection leak in sendMessageToThread"
For now, if pipe is not yet writable, function sendMessageToThread will register a write event and continue sending message in callback handlePendingAwakeMessages.  Function handlePendingAwakeMessages will again call sendMessageToThread to do the work. This might cause some issues.

1, If error occurs in sendMessageToThread called by handlePendingAwakeMessages,  object client being sent will not b

[2020-05-12 12:50] HuangZhenLiang opened #63 "some issues with parent request might lead client blocked"
Proxy will create child requests for some commands. For now, there might be some issues in processing request with child requests.

1, If error occurs while sending request to cluster node or receiving response from cluster node, request will be freed and an error msg will append to client buf. This is ok for request without child requests, but not for those parent requests. If a parent request is

[2020-05-15 03:48] ShooterIT commented on #58
Hi @lakano @artix75  I implemented it, I will submit the PR  on this weekend. But for some modules, it may not support all commands that don't have `key`.

[2020-05-17 10:45] ShooterIT commented on #58
Hi @lakano You could do some tests https://github.com/RedisLabs/redis-cluster-proxy/pull/65

[2020-06-02 21:23] dacjames opened #66 "Crash from `proxy cluster update`"
To reproduce:

1. Start 6 node cluster: 3 master, 3 slave.
2. Create the cluster using `redis-cli --cluster create`. Default options.
3. Start redis-cluster-proxy. Default options.
4. Connect to proxy via redis-cli.
5. Run the following series of commands:
- `proxy cluster info`
- `proxy cluster update`
- `proxy cluster info`
- `proxy cluster update`.

This will crash the proxy, with the following

[2020-06-23 03:46] cakoose opened #68 "Question: Support for multiple Redis upstreams?"
It appears that a single redis-cluster-proxy instance can only connect to a single Redis upstream (or single cluster).

Is this project open to supporting multiple Redis upstreams in the future?

[2020-07-02 09:44] zhklcf opened #69 "ERR Failed to write to cluster"
When I shutdown one master, and the original slave change to new master.
but the proxy can't feel the change and failed to write to cluster.
[code]

[2020-07-10 14:08] ttouret commented on #69
Hello,

I'm facing the same issue.
When one master node fails (no problem with takeover, it occur as expected and the cluster is healthy), I have the message "(error) ERR Failed to write to cluster" when I try to fetch keys belonging to the hash slot  for which this master is responsible.
Operation returns to normal only when the faulty node is restarted.

[2020-07-12 06:53] forhow134 opened #70 "the proxy.conf willl surport the requirepass parameter?"
I  have try to set the auth parameter ， and it works.
But I don't want  anyone use my redis-cluster through redis-cluster-proxy without password.
Will it support the  requirepass parameter in porxy.conf to let me set up a password for redis-cluster-proxy ?
[code]

[2020-07-13 14:30] ghost opened #71 "redis-cluster-proxy fails to AUTH when reopening a connection to the cluster"
When redis-cluster-proxy (r-c-p for short) is connected to the cluster using authentication, it fails to AUTH to the cluster when the connections get recycled.

Instance one (easy to reproduce): r-c-p uses AUTH, clients do not. Connect r-c-p to a simple 3-instance redis cluster, all masters. When opening the initial connections to the cluster, r-c-p issues AUTH and everything works. Now restart ("

[2020-07-13 14:56] ghost opened #72 "redis-cluster-proxy does not signal to clients AUTH-ing themselves that it lost the connection to the redis cluster"
Probably caused by the same code as bug #71 however I'm making a separate bug report as this will be much harder to fix.

Basically, clients of redis-cluster-proxy (r-c-p for short) that need to track the state of the connection to the redis server do not get that information, leading to breakage.

Such as: a client uses AUTH and r-c-p gives them a special set of connections. But, if those connect

[2020-07-21 09:24] goal616 opened #73 "redis-cluster-proxy启动后退出，报错，求解决"
------ REGISTERS ------

RAX:00000000021370b0 RBX:00000000000000c0
RCX:0000000000000080 RDX:0000000000000000
RDI:00000000021370f0 RSI:00000000000000c0
RBP:00000000021370f0 RSP:00007f2b69ffadd0
R8 :00007f2b5800a240 R9 :000000000042c1f4
R10:000000000214b46b R11:0000000000000000
R12:00007f2b5803e6f0 R13:00007f2b58009c20
R14:00000000021370f0 R15:0000000000000000
RIP:00000000004082fc EFL:00000000000102

[2020-07-21 12:37] majianweiNB opened #74 "What the next plan about this project"
Hello, @artix75 ， I'm looking for a proxy of redis-cluster which will be used in production. I found this project in the redis 6.0  00-RELEASENOTES. Also I found it has been a quite time that no commit for this project. Could you tell me the next plan for this project? Is it followed with interest by the community? TX~

[2020-07-28 22:56] gnu-lorien opened #75 "Crash in 0.9.102"
[code]

[2020-07-29 08:28] hejunfly opened #76 "crash in excute keys *"
------ STACK TRACE ------
EIP:
./bin/redis-cluster-proxy(raxSeek+0xf2)[0x5652151640d2]

Backtrace:
./bin/redis-cluster-proxy(logStackTrace+0x44)[0x5652151515a4]
./bin/redis-cluster-proxy(sigsegvHandler+0x1a0)[0x565215151d00]
/lib/x86_64-linux-gnu/libpthread.so.0(+0x12890)[0x7fdf6c198890]
./bin/redis-cluster-proxy(raxSeek+0xf2)[0x5652151640d2]
./bin/redis-cluster-proxy(appendUnorderedRepliesToBuffe

[2020-08-31 14:39] ShooterIT commented on #74
Yes, it has been a quite long time that no commit for these repo. I hope we can push it forward.

Thanks for @artix75 As I know, this proxy really is a great  proxy for redis cluster currently. It has more modern C code style, multithreaded, support cross-slot queries, blocked commands and extend easily,  for my taste,  it is ingenious and concise to handle query order problem by using query id an

[2020-09-01 02:34] trevor211 commented on #74
Please take a look at here. @HuangZhenLiang @XiaobinZhang92

[2020-09-01 07:45] Odysseusailoon opened #78 "A request to get some documentations"
hello I'm a beginner of coding， and now I'm working on Redis Proxy.
I find it hard to read the source codes of redis-cluster-proxy, are there any documentations?
or can anybody give me some sugestions? it would be great if there are some blogs.
give you all big thanks!

[2020-09-09 03:32] Ops-learning commented on #36
Has this problem been solved yet? The same thing happened to me during my tests

Below is my Proxy log
[2020-09-09 11:23:21.305/M] Redis Cluster Proxy v0.9.102
[2020-09-09 11:23:21.305/M] Commit: (00000000/0)
[2020-09-09 11:23:21.305/M] PID: 3441
[2020-09-09 11:23:21.305/M] OS:
[2020-09-09 11:23:21.305/M] Bits: 64
[2020-09-09 11:23:21.305/M] Log level: debug
[2020-09-09 11:23:21.305/M] Connections

[2020-09-23 03:51] huxiaozhe commented on #76
OOM?

[2020-09-25 03:15] stdpain opened #79 "batch get binary data fail"
![image](https://user-images.githubusercontent.com/34912776/94222590-606cc980-ff20-11ea-93c3-6f5f7e07df4b.png)

[2020-09-25 16:31] antonioshadji opened #80 "Pipeline throws CROSSSLOT error with enable-cross-slot set"
I didn't see any mention of pipelines not being supported in the documentation.

Command that triggers the error

[code]

RedisManager is a thin wrapper around redis-py.  It instantiates client with host, port and:
decode_responses=True,
socket_timeout=1.0

On execution of the pipeline this error is seen.

`redis.exceptions.ResponseError: CROSSSLOT Keys in request don't hash to the same slot`

ena

[2020-09-25 16:54] antonioshadji commented on #80
By default the redis-py libraries executes pipelines as atomic transactions.  Setting transaction=False in pipeline allows this to work.

This was never an issue with the proxy server.  It was the redis-py library that required a different configuration when moving code from redis-py-cluster library.

[2020-09-25 16:54] #80 closed, assigned to nobody

[2020-10-09 17:49] guaychou opened #81 "[ASK] PROJECT STATUS ?"
i am excited to this project. is the project still alive ?

[2020-10-16 02:20] ShooterIT commented on #79
Let me make a PR

[2020-10-23 06:35] chenjie199234 opened #83 "master dead,slave become master, proxy can't work"
## redis and proxy info
[code]
## test key info
[code]
## cluster info
[code]
## proxy info
[code]
## 10001 alive
[code]
## 10001 dead and proxy didn't restart
[code]
## 10001 dead and proxy restart
[code]
## 10001 dead cluster nodes info
[code]

[2020-10-26 08:11] LiuJin1987 opened #84 "Question : How to guarantee HA of redis-cluster-proxy"
I've tried this app out and find that it is very nice!
My question is: Considering that Redis itself has replica mode to guarantee HA, is there any measure to guarantee HA of redis-cluster-proxy?
If yes, then how to use  redis-cluster-proxy in replica mode? If no, then do you have any plan about this?

[2020-10-31 14:49] chenjie199234 opened #85 "EVAL command can't work"
## proxy start without cross slot support
[code]
## redis command exec result (there is only one key "test")
[code]
## proxy start with cross slot support
[code]
## redis command exec result (there is only one key "test")
[code]

[2020-10-31 14:49] chenjie199234 opened #86 "eval command can't work"
## proxy start without cross slot support
[code]
## redis command exec result (there is only one key "test")
[code]
## proxy start with cross slot support
[code]
## redis command exec result (there is only one key "test")
[code]

[2020-10-31 14:49] #86 closed, assigned to nobody

[2020-12-01 06:45] wyl9527 opened #87 "redis-cluster-proxy 有生产环境在使用了么？"
redis-cluster-proxy 有生产环境在使用了么？

[2020-12-03 01:57] Livenux commented on #87
别用于生产环境，不稳定，经常崩溃

[2020-12-08 03:04] ShooterIT commented on #84
AFAIK, proxy needn't have replica mode. This repo proxy also doesn't support. For HA, maybe you can use DNS/VIP that contain many proxies ip, you parse DNS/VIP to get all proxy instances, and connect one of them.  Connect another proxy instance if one is failed. Moreover, you also add into new proxy instances into DNS/VIP to guarantee there always are some available proxy instances.

[2020-12-08 03:17] ShooterIT commented on #87
@wyl9527 现在只是beta版本，还有很多问题，不用直接在生成环境中使用

[2020-12-08 03:18] ShooterIT commented on #87
There is this project current status, we shouldn't use it in production environment

https://github.com/RedisLabs/redis-cluster-proxy#current-status

[2020-12-08 12:43] huangzhuxing commented on #81
+1

[2020-12-14 09:33] amonhuang commented on #81
+1

[2020-12-14 09:36] ADeeeee commented on #81
+1

[2020-12-16 11:00] i2dcarrasco commented on #81
+1

[2020-12-18 03:14] figroc commented on #23
@bsergean Maybe send a PR?

[2020-12-18 03:43] bsergean commented on #23
I am not actively working with redis-cluster-proxy, so I'll close this ticket. I think anyone motivated enough can make a PR out of it, it's C program with zero dependencies so building it for docker is easy.

[2020-12-18 03:43] #23 closed, assigned to nobody

[2020-12-27 15:35] shayrybak opened #88 "Invalid bulk size error when using pipeline on redis-py"
Hi,

I'm using redis-py 3.5.3 with python 3.6.9 to connect my application to a redis cluster version 6.0.9 using redis-cluster-proxy from master branch.

Some requests go through without issues, but the client is erroring with `Redis exception: Connection closed by server`
on the proxy I've enabled debug mode and saw the following type of errors:
`[2020-12-27 15:17:43.007/1] Failed to parse reques

[2021-01-07 08:33] huxiaozhe commented on #88
Problem with protocol resolution ,redis-cluster-proxy bug

[2021-01-11 02:07] Pangdeijiang opened #89 "Stable version"
How long time the stable version of redis-cluster-proxy will be released?

[2021-01-18 10:58] beifeng15 opened #90 "Performance loss（性能损失）"
English：
Hello, what is the performance loss of the proxy connection to the Redis cluster compared to the direct connection to the Redis cluster?
中文：
您好，请问一下代理连接Redis cluster相比于直接连接Redis cluster的性能损失大概是多少呀？

[2021-01-27 03:35] arylee commented on #84
We use "keepalived" to provide a virtual IP with 3 servers.

[2021-02-19 09:31] Frontrider commented on #89
I can live without it, but this is the last piece of our puzzle.

[2021-03-22 02:50] xiaobin07 opened #92 "A discussion about optimizing the logic of handling request"
Now, when a request involved with multi-slot received by proxy, the request would be divided into two types: parent request and child request.

The logic of handling parent request and child request is kind of complex: the child request is inserted after the parent request in the client's request list(client->requests). Then, they're all sended to the backend redis server(redisClusterConnection->r

[2021-03-23 07:58] huangzhuxing commented on #11
@bxeldor @artix75 FYI：https://github.com/RedisLabs/redis-cluster-proxy/pull/93

<img width="618" alt="WechatIMG261" src="https://user-images.githubusercontent.com/5611929/112112472-8c77b780-8bf0-11eb-81b7-15bd9a9bd304.png">

[2021-03-29 05:10] datasatanic commented on #81
+1

[2021-04-15 09:57] jiashurui1997 opened #94 "ERR Protocol error: invalid bulk length"
Hello , I'm using the redis-cluster-proxy from master branch .

When I try to set blank value using proxy ,I got this Error↓
[code]

While typing the same command in Redis cluster mode  **without proxy** ,I got right response.
[code]
Also no error in standard Redis (No cluster)

I'm new to redis-cluster-proxy and I am confusing if there is a  limitiation in this command ?

Regards

[2021-05-18 08:10] Mr1X commented on #60
I also need to publish and subscribe, hope to support，thank you very much

[2021-05-18 11:29] huangzhuxing commented on #90
之前简单测试，同一套集群，4 主 4 从，尽管有些命令损耗在 20%左右，但性能依然强劲。
供参考：
![2C722913-BEC4-4AE6-965A-779AD83426F3_1_105_c](https://user-images.githubusercontent.com/5611929/118643325-fd150c00-b80e-11eb-8d34-560edda02c68.jpeg)

[2021-05-19 00:55] kenshinSuns commented on #70
i meet this issue too

[2021-05-28 09:33] ReasonDuan commented on #90
项目停止维护了吗？

[2021-06-07 10:56] ghost commented on #36
Any chance to get build, which won't require all nodes up on proxy startup?

[2021-06-07 13:46:46.900/M] Redis Cluster Proxy v999.999.999 (unstable)
[2021-06-07 13:46:46.900/M] Commit: (ac83840d/0)
[2021-06-07 13:46:46.900/M] Git Branch: unstable
[2021-06-07 13:46:46.900/M] PID: 257911
[2021-06-07 13:46:46.901/M] OS: Linux 2.6.32-754.35.1.el6.x86_64 x86_64
[2021-06-07 13:46:46.901/M] Bits: 64
[202

[2021-06-07 14:00] paper777 commented on #81
+1

[2021-06-07 14:28] terryburton commented on #81
I don't speak for this project but since it hasn't received any attention since @artix75 moved on more than a year ago (and since RedisLabs are not responding to issues), I would suggest that the project be considered abandoned.

Envoy Proxy has support for the Redis Cluster specification and is actively maintained. It may suffice for many purposes: https://www.envoyproxy.io/docs/envoy/latest/api-

[2021-07-08 15:26] stevelipinski commented on #81
Is Envoy support for Redis Cluster supported or still "Experimental"? Per the architecture page, it still claims as Experimental:
https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/other_protocols/redis#redis-cluster-support-experimental

[2021-07-21 02:28] jinga50334 commented on #87
只要获取信息的redis-cluster节点宕机，proxy就无法使用，目前这个问题不解决，还是别在生产环境用；

[2021-08-31 10:55] voltbit opened #97 "Compilation fails on gcc 11 and gcc 10"
Hello, the project fails to build with the following output:
[code]

Build environments:
[code]
and
[code]

See:
https://bugs.gentoo.org/707210
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=957751
https://github.com/redis/redis/pull/6691

[2021-09-20 07:29] emperorjoker commented on #89
The last commit of this project was on Apr 8, 2020.
I don't know if the program is still being maintained, but it looks like it's been discontinued.

[2021-09-27 02:30] silencer001 commented on #11
it's no used to reslove the question, gcc4 not support c11 standard

[2021-09-30 02:32] pnthai88 opened #99 "Could not connect to Redis at redis-cluster-proxy 172.0.0.100:6379: Name does not resolve"
Hello,
I tried by building this image from: https://github.com/RedisLabs/redis-cluster-proxy/issues/23
started with
`sh -c 'redis-cluster-proxy 172.0.0.100:6379 172.0.0.101:6379 172.0.0.102:6379 172.0.0.103:6379 172.0.0.104:6379 172.0.0.105:6379 172.0.0.106:6379 172.0.0.107:6379';`

but got problem
`Could not connect to Redis at redis-cluster-proxy 172.0.0.100:6379: Name does not resolve`

![image

[2021-09-30 03:40] pnthai88 commented on #99
My bad, just this line in docker-compose
`command: '-c /conf/proxy.conf --dump-queries'`

[2021-09-30 03:40] #99 closed, assigned to nobody

[2021-09-30 03:43] pnthai88 opened #100 "redis.exceptions.ConnectionError: Connection closed by server."
Hello,

I'm using python with redis / StrictRedis. The original connection with the standalone mode is ok.
But when I try to connect Redis-cluster-proxy on port 7777, I got the error
`redis.exceptions.ConnectionError: Connection closed by server.`

The original working command on standalone mode:
`master_pool  = redis.ConnectionPool(  host="127.0.0.1",  port=7777, db=0  )`
`master_redis = StrictRe

[2021-09-30 04:13] pnthai88 commented on #88
have you found a way to solve this problem?

[2021-09-30 04:30] pnthai88 commented on #80
i made the same pipeline connection but got the error

`[2021-09-30 04:26:03.342/M] Accepted connection from 172.18.0.1:59038`
`[2021-09-30 04:26:03.342/M] Created client 1:25 with address 0x560b586af1e8`
`[2021-09-30 04:26:03.342/M] Client 1:25 connected from 172.18.0.1:59038 (thread: 1)`
`[2021-09-30 04:26:03.342/1] Client 1:25 added to thread 1`
`[2021-09-30 04:26:03.342/1] Created Request 1:25

[2021-09-30 07:01] shayrybak commented on #88
Did not, had to find other solutions. I think this project isn't maintained anymore.

[2021-09-30 09:14] 2hang5ong opened #101 "Redis proxy has a lot of CLOSE_WAIT"
After the master node in the redis cluster exits abnormally, a large number of "CLOSE_WAIT" connections cannot be disconnected in the pod running redis proxy. This situation will continue until the redis proxy pod is restarted. During this period, the reids client cannot normally connect to the redis cluster through redis proxy. Has anyone encountered the same situation?

(PS: redis proxy and redi

[2021-10-03 13:54] pnthai88 commented on #88
I just gave up too.

[2021-10-12 09:16] huxiaozhe commented on #101
可能是私有连接池的问题，然后你后端配了 timeout，不过不建议用这个proxy，bug太多了。

[2021-12-23 03:39] iwfun opened #102 "Will 'HELLO' command be supported later?"
lettuce 不能使用，因为 此项目（redis-cluster-proxy）不支持 hello 指令，建议增加支持

[2021-12-23 03:48] iwfun commented on #102
hi, I want to use 'lettuce' to connect to this proxy, but its fail! The reason is that  'lettuce' need ‘HELLO’ command. Will this be supported later?

[2021-12-24 14:20] RaD opened #103 "Where is release.h?"
#6 6.777 release.c:18:10: fatal error: release.h: No such file or directory

[2021-12-24 14:24] RaD commented on #103
Ah, ok. It is an autogenerated file. But it is impossible to build proxy in case of ZIP archive downloading :(

Workaround:

[code]

[2021-12-24 14:33] RaD commented on #103
New error while building from git repo:

[code]

[2022-01-22 04:20] jaggerwang commented on #102
Same issue in spring session redis.

[code]

[2022-03-31 06:10] nael-binary commented on #60
Are there any limitations, that's why its not supported?
is there a plan to support it?

[2022-04-22 07:42] zmrdltl opened #104 "Does proxy support TLS?"
Deployed redis-cluster with TLS and password set on k8s with service object.
After that, connect to redis-cluster using redis-proxy(create a service object outside the k8s cluster, and expose it as nodeport type).
Looking at the log of the redis proxy pod, it was confirmed that communication was successful by getting the ip of redis-cluster normally.
[code]

Now, we are going to test by accessing

[2022-05-05 04:48] bhakimi opened #105 "Publish and subscribe"
Is it possible to pay for professional services to get publish and subscribe methods added to this project ?

[2022-07-25 05:14] pradeep13143 commented on #36
Hi Team, any update on this ticket?

[2022-08-04 02:14] wyl9527 opened #106 "proxy有编译好的二进制包么?"

[2022-08-08 05:12] kaoyan2010 opened #107 "6 Segmentation fault (core dumped) ./src/redis-cluster-proxy -c proxy.conf"
[2022-08-08 03:56:00.237/6] Thread 0 terminated
[2022-08-08 03:56:00.238/6] Thread 1 terminated
[2022-08-08 03:56:00.238/6] Thread 2 terminated
[2022-08-08 03:56:00.238/6] Thread 3 terminated
[2022-08-08 03:56:00.238/6] Thread 4 terminated
[2022-08-08 03:56:00.238/6] Thread 5 terminated
[2022-08-08 03:56:00.238/6] Thread 7 terminated

=== PROXY BUG REPORT START: Cut & paste starting from here ===

[2022-08-08 10:57] kaoyan2010 commented on #107
redis-cluster-proxy的mset和mget操作，
1.当key和value都是string类型时，可以执行成功；
2.当key和value都是byte数组时，
    2.1.如果通过mset和mget操作一对key和value，可以执行成功；
    2.2.如果通过mset和mget操作多对key和value，不可以执行成功；

[2022-08-28 05:54] hsafe commented on #83
I observed the same issue, the only difference is that mine is production but same cluster making with 3x masters and 3x slaves. While the masters go down the new formation of the cluster is not picked by the redislab proxy and causes errors ...can you please help if the view of the cluster is only formed at he start of the service and never updated? It really help us to get over this issue cause

[2022-09-30 09:24] slv-306 opened #109 "Installation Error"
Hi Team
I'm installing redis-cluster-proxy from unstable branch and facing the below issue
[code]

OS- Details
`PRETTY_NAME="Debian GNU/Linux 11 (bullseye)"
NAME="Debian GNU/Linux"
VERSION_ID="11"
VERSION="11 (bullseye)"
VERSION_CODENAME=bullseye
ID=debian
HOME_URL="https://www.debian.org/"
SUPPORT_URL="https://www.debian.org/support"
BUG_REPORT_URL="https://bugs.debian.org/"`

GCC Version
`gcc (D

[2022-10-07 06:28] silviubajenaru opened #110 "Redis-proxy startup fails when a redis cluster node is down"
Hello,

First, let me start by saying that I've been waiting for this product for quite some time, as it makes all our lives easier!
I've got the following setup:
Running 6 redis instances containers (for simplicity), using docker-compose with network_mode: host (for simplicity).
I've started redis-cluster-proxy using
`command: -p 6379 127.0.0.1:7001 127.0.0.1:7002 127.0.0.1:7003 127.0.0.1:7004 12

[2022-10-09 04:51] zzsoszz opened #111 "ERR unknown command `quit`"
redis.clients.jedis.exceptions.JedisDataException: ERR unknown command `quit`
        at redis.clients.jedis.Protocol.processError(Protocol.java:142) ~[jedis-3.8.0.jar:na]
        at redis.clients.jedis.Protocol.process(Protocol.java:176) ~[jedis-3.8.0.jar:na]
        at redis.clients.jedis.Protocol.read(Protocol.java:230) ~[jedis-3.8.0.jar:na]
        at redis.clients.jedis.Connection.readProtoco

[2022-10-10 13:01] Dup4 commented on #109
[code]

Maybe apply this patch will be ok.

[2022-11-03 08:45] achetronic opened #112 "Is this project killed?"
Hello there,

I think this is a useful project but seems to be killed at this moment. Am I wrong?

Thank you in advance :)

[2022-11-07 14:40] gmoirod commented on #102
Does anybody made it work with [Jedis](https://github.com/redis/jedis) connector ?

[2022-11-07 16:29] gmoirod commented on #102
It turns out it works with Jedis connector.
But you may loose some feature according to https://docs.spring.io/spring-data-redis/docs/current/reference/html/#redis:connectors:connection

Here is the Maven config snippet for a Spring Boot application :
[code]

[2022-11-22 09:16] codifierr commented on #110
Any update on this?
We are also facing the same.